* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Economica', sans-serif;
}

.primeraPagina{
  width: 100%;
  height: 100%;
}

header{
  width: 100%;
  height: 20%;
}

header .Gif{
    width: 65%;
    height: 250px;
    top: 500%;
    margin: auto;
    display: block;
}

.primeraPagina main .Titulo{
}
.primeraPagina main .Titulo .tituloTexto{
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 500%;
}
.primeraPagina main .Titulo img{
    width: 27%;
    height: 70px;
    margin: auto;
    display: block;
}

.contenedor {
  display: flex;
}

section .textoIntro {
   width: 10%;
   flex-direction: row;
}
section .textoIntro .texto {
  width: 100%;
}

section .categoria{
  flex-direction: row;
  
}

footer{
  width: 100%;
  height: 20%;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: rgba(1, 39, 73, 1);
}
img{
  width: 20%;
  height: 100px;
}
.derechos{
  text-align: center;
  font-size: 170%;
  color: rgba(176, 211, 239, 1);
}
.iconos{
  
  margin-right: 15%;
  /*flex-direction: row;*/
}
.grupoIconos{
  width: 100%;
  margin: 30%;
}