* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Economica', sans-serif;
}
header{
  width: 100%;
  height: 20%;
}

.Gif {
top: 500%;
float: left;
width: 50%;

}


.primeraPagina header img{
    width: 50%;
    height: 20%;
    t
    
}

.primeraPagina main .Titulo{
    width: ;
}
.primeraPagina main .Titulo .tituloTexto{
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 500%;
}
.primeraPagina main .Titulo img{
    width: 20%;
    height: 20%;
    
}

section .textoIntro{
 display: flex;
 
}

section .categoria{
  display: flex;
  justify-content: space-evenly;
}